[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Python files
[*.py]
indent_size = 4
# isort plugin configuration
multi_line_output = 2

# Markdown files
[*.md]
indent_size = 2
trim_trailing_whitespace = false
